<!-- Available Types of Products -->
<div class="container box">
  <h2 class="title is-3">Shop Variety of Products</h2>
  <div class="columns is-flex-wrap-wrap">
    <% @available_types.each do |type| %>
      <div class="column">
        <%= link_to type.name, products_path(type_id: type.id), class: 'button mt-3 is-purple-border' %>
      </div>
    <% end %>
  </div>
</div>


<!-- On-Sale Products -->
<div class="container mt-6 box">
  <h2 class="title is-3">On-Sale Products</h2>
  <div class="columns is-multiline">
    <% @on_sale_products.each do |product_item| %>
      <div class="column">
        <div class="card equal-height-card">
          <% if product_item.image.attached? %>
            <div class="card-image">
              <%= image_tag product_item.image.variant(resize_to_fill: [800, 600]) %>
            </div>
          <% end %>
          <div class="card-content">
          <div>
            <h1 class="title is-size-5-touch is-truncated"><%= link_to product_item.name, product_item %></h1>
            <p class="is-truncated"><%= product_item.brand.name %></p>
            <% if product_item.on_sale_status %>
              <div class="d-flex justify-content-between align-items-center">
                <p class="has-text-weight-bold"><span class="has-text-danger">-10%</span> $<%= (product_item.price * 0.9).round(2) %></p>
                <p class="has-text-decoration-line-through has-text-grey"><s>Price: $<%= product_item.price %></s></p>
                <%= link_to 'View', product_path(product_item), class: 'button mt-3' %>
              </div>
            <% else %>
              <div class="d-flex justify-content-between align-items-center">
                <p>Price: $<%= product_item.price %></p>
                <%= link_to 'View', product_path(product_item), class: 'button mt-3' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



<!-- Recently Added Products -->
<div class="container box mt-6">
  <h2 class="title is-3">Recently Added Products</h2>
  <div class="columns is-multiline">
    <% @recently_updated_products.each do |product_item| %>
      <div class="column">
        <div class="card equal-height-card">
          <% if product_item.image.attached? %>
            <div class="card-image">
              <%= image_tag product_item.image.variant(resize_to_fill: [800, 600]) %>
            </div>
          <% end %>
          <div class="card-content">
            <h1 class="title is-size-5-touch is-truncated"><%= link_to product_item.name, product_item %></h1>
            <p class= "is-truncated"><%= product_item.brand.name %></p>
            <% if product_item.on_sale_status %>
              <div class="d-flex justify-content-between align-items-center">
                <p class="has-text-weight-bold"><span class="has-text-danger">-10%</span> $<%= (product_item.price * 0.9).round(2) %></p>
                <p class="has-text-decoration-line-through has-text-grey"><s>Price: $<%= product_item.price %></s></p>
                <%= link_to 'View', product_path(product_item), class: 'button mt-3' %>
              </div>
            <% else %>
              <div class="d-flex justify-content-between align-items-center">
                <p>Price: $<%= product_item.price %></p>
                <%= link_to 'View', product_path(product_item), class: 'button mt-3' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<style>
.is-purple-border {
  border-color: purple;
  color: purple; /* Optional: This will change the text color to purple as well */
}

 .equal-height-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .card-content {
    flex: 1;
  }
</style>