<div class="container">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Select Category</label>
    </div>
    <div class="field-body">
      <div class="field">
        <%= form_tag(filter_products_path, method: :get, class: 'navbar-item', id: 'category-form') do %>
          <div class="select is-dark control">
            <%= select_tag(:type_id, options_for_select(Type.all.map { |t| [t.name, t.id] }, params[:type_id]), include_blank: 'All Categories', id: 'category-select') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Filter By</label>
    </div>
    <div class="field-body">
      <div class="field">
        <%= form_tag(filterBy_products_path, method: :get, class: 'navbar-item', id: 'filter-form') do %>
          <div class="control">
            <%= radio_button_tag(:filter, 'new', params[:filter] == 'new', value: 'new',class: 'filter-radio' ,id: 'new') %>
            <label for="new">New</label>
          </div>
          <div class="control">
            <%= radio_button_tag(:filter, 'on_sale', params[:filter] == 'on_sale', value: 'on_sale', class: 'filter-radio', id: "on_sale"  ) %>
            <label for="on_sale">On Sale</label>
          </div>
          <%= hidden_field_tag(:hidden_submit) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const categoryForm = document.getElementById('category-form');

    categoryForm.addEventListener('change', function(event) {
      event.preventDefault();
      if (event.target.id === 'category-select') {
        categoryForm.submit();
      }
    });

    const filterRadios = document.querySelectorAll('#filter-form input[type="radio"]');

    filterRadios.forEach(function(radio) {
      radio.addEventListener('change', function() {
        document.getElementById('filter-form').submit();
      });
    });
  });
</script>

