
<div class="column is-one-third">
  <div class="card">
    <% if product.image.attached? %>
      <div class="card-image">
        <%= image_tag product.image.variant(resize_to_fill: [800, 600])%>
      </div>
    <% end %>
    <div class="card-content">
      <h1 class="title is-size-4-touch is-clipped"><%= link_to product.name, product %></h1>
      <p class="is-clipped"><%= product.brand.name %></p>
      <% if product.on_sale_status %>
        <p class="has-text-weight-bold"><span class="has-text-danger">-10%</span><strong>$<%= (product.price * 0.9).round(2) %></strong></p>
        <p class="has-text-decoration-line-through has-text-grey"><s>Price: $<%= product.price %></s></p>
      <% else %>
        <p>Price: $<%= product.price %></p>
      <% end %>
    </div>
  </div>
</div>
