<div>
    <% if @type %>
        <h2 class="title is-2">Products with Type: <%= @type.name %></h2>
        <% @products.each do |product| %>
            <%= render product%>
        <%end%>
    <% elsif @category %>
        <h2 class="title is-2">Products with Category: <%= @category.name %></h2>
        <% @products.each do |product| %>
            <%= render product%>
        <%end%>
    <% elsif @brand %>
        <h2 class="title is-2">Products with Brand: <%= @brand.name %></h2>
        <% @products.each do |product| %>
            <%= render product%>
        <%end%>
    <% else %>
        <h2 class="title is-2">All Products</h2>
        <% @products.each do |product| %>
                <%= render product%>
        <%end%>
    <%end%>

    <% if @products.empty? %>
        <h3>No products found in <%= @association_name %>.</h3>
    <% end %>
</div>


