<div class="container box">
  <%= paginate @products %>
  <h1 class="title is-2">Search Results</h1>

  <% search_keyword = params[:keyword].presence || "All products" %>
  <% search_category = Type.find(params[:type_id]).name if params[:type_id].present? %>

  <% if search_category.present? %>
    <p class="subtitle">Your search result for "<%= search_keyword %>" in "<%= search_category %>" Category found <%= @total_results %> results.</p>
  <% else %>
    <p class="subtitle">Your search result for "<%= search_keyword %>" in All Categories found <%= @total_results  %> results.</p>
  <% end %>

  <% if @products.any? %>
    <div class="columns is-multiline">
      <% @products.each do |product| %>
        <%= render product %>
      <% end %>
    </div>
  <% else %>
    <p>No products found.</p>
  <% end %>
</div>
