<div>
  <% if @product.image.attached? %>
    <h2>Product Image</h2>
    <%= image_tag @product.image.variant(resize: "500x500") %>
  <% end %>

  <%= render @product %>
  <%= link_to "Back to all products", products_path, class: "button is-info" %>
</div>

<div class="product-full-details">

  <h1><%= @product.name %></h1>
  <p>Brand: <%= @product.brand.name %></p>
  <p>Type: <%= @product.type.name %></p>
  <p>Category: <%= @product.category.name %></p>
  <p>Price: <%= @product.price %></p>
  <p>Description: <%= @product.description %></p>
  <p>On Sale: <%= @product.on_sale_status ? 'Yes' : 'No' %></p>

