<h1>Guest Checkout - Enter Your Address</h1>

<% if flash[:error].present?%>
  <div class="notification is-danger flash-message">
    <%= flash[:error] %>
  </div>
<% end %>

<%= form_tag save_guest_address_path, method: :post do %>
  <!-- Add form fields for address input -->
  <div>
    <label>Address Line 1:</label>
    <%= text_field_tag 'address[address_line1]', @address[:address_line1] %>
  </div>

  <div>
    <label>City:</label>
    <%= text_field_tag 'address[city]', @address[:city] %>
  </div>

  <div>
    <label>Province:</label>
    <%= select_tag 'address[province]', options_for_select(@provinces_list, @address[:province]) %>
  </div>

  <div>
    <label>Postal Code:</label>
    <%= text_field_tag 'address[postal_code]', @address[:postal_code] %>
  </div>

  <%= submit_tag 'Save Address', class: 'button' %>
<% end %>

<!-- Display a link to sign up for new customers -->
<%= link_to 'Sign Up and Save Address for Future Use', new_customer_registration_path %>
