<div class="container">
  <h1 class="title">Payment Successful</h1>

  <div class="box">
    <h2 class="subtitle">Delivered to the customer's address:</h2>
    <p>
      <%= @customer_address[:address] %><br>
      <%= @customer_address[:city] %>, <%= @customer_address[:postal_code] %><br>
      <%= Province.find_by(id: @customer_address[:province]).name %>
    </p>
  </div>

  <div class="box">
    <h2 class="subtitle">Customer Details:</h2>
    <p>
      <% if customer_signed_in? %>
        Name: <%= current_customer.first_name %> <%= current_customer.last_name %><br>
      <% else %>
        Name: <%= @customer_name %>
      <% end %>
      Email: <%= @customer_email %>
    </p>
  </div>

  <div class="box">
    <h2 class="subtitle">Order Details:</h2>
    <table class="table is-bordered is-striped is-narrow is-hoverable">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_info.each do |product_id, quantity| %>
          <% product = Product.find(product_id) %>
          <% product_price = product.price * quantity %>
          <tr>
            <td><%= product.name %></td>
            <td><%= quantity %></td>
            <td><%= product_price %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan="3">Sub Total</td>
          <td><%= @subtotal %></td>
        </tr>
        <tr>
          <td colspan="3">Taxes</td>
          <td>
            <% if @hst_amount > 0 %>
              <%= @hst_amount %> (HST)<br>
            <% end %>
            <% if @gst_amount > 0 %>
              <%= @gst_amount %> (GST)<br>
            <% end %>
            <% if @pst_amount > 0 %>
              <%= @pst_amount %> (PST)<br>
            <% end %>
          </td>
        </tr>
        <tr>
          <td colspan="3">Total Amount</td>
          <td><%= @total_amount %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
