<% if flash[:added_success] %>
  <div class="notification is-success flash-message">
    <%= flash[:added_success] %>
  </div>
  <meta http-equiv="refresh" content="5;url=<%= request.original_url %>">
<% end %>

<% if flash[:update_success] %>
  <div class="notification is-success flash-message">
    <%= flash[:update_success] %>
  </div>
  <meta http-equiv="refresh" content="5;url=<%= request.original_url %>">
<% end %>

<% if flash[:remove_success] %>
  <div class="notification is-success flash-message">
    <%= flash[:remove_success] %>
  </div>
  <meta http-equiv="refresh" content="5;url=<%= request.original_url %>">
<% end %>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% total_price = 0 %>
    <% @cart.each do |product_id, quantity| %>
      <% product = Product.find(product_id) %>
      <% product_price = product.price * quantity %>
      <% total_price += product_price %>
      <tr>
        <td><%= image_tag(product.image.variant(resize_to_fill: [100, 100])) %></td>
        <td><%= product.name %></td>
        <td>
          <%= form_tag cart_update_path, method: :put do %>
            <%= hidden_field_tag :product_id, product.id %>
            <%= number_field_tag :quantity, quantity, min: 1 %>
            <%= submit_tag 'Update' %>
          <% end %>
        </td>
        <td><%= product_price %></td>
        <td>
          <%= button_to 'Remove', cart_remove_path(product_id: product.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">Total Price:</td>
      <td><%= total_price %></td>
    </tr>
  </tfoot>
</table>

<% if customer_signed_in? %>
  <% if current_customer.primary_address || current_customer.alt_address %>
    <%= button_to 'Proceed to Checkout', checkout_index_path, class: 'button', method: :get %>
  <% else %>
    <%= button_to 'Add Address for Checkout', edit_customer_registration_path, class: 'button' %>
  <% end %>
<% else %>
  <%= button_to 'Proceed to Checkout', checkout_guest_path, class: 'button', method: :get %>
<% end %>
