<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">MAKEUP HUB</a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarNav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu has-background-dark" id="navbarNav">
    <div class="navbar-start">
      <a class="navbar-item has-text-white" href="<%= products_path %>">Products</a>
      <%= link_to 'About Us', permalink_path('about_us'), class: 'navbar-item has-text-white' %>
      <%= link_to 'Contact Us', permalink_path('contact_us'), class: 'navbar-item has-text-white' %>

      <% if customer_signed_in? %>
        <!-- If customer is signed in, display account dropdown -->
        <div class="navbar-item has-dropdown is-hoverable ">
          <a class="navbar-link has-text-white">
            Account
          </a>
          <div class="navbar-dropdown has-background-dark">
            <%= link_to 'View Profile', customer_path(current_customer), class: 'navbar-item has-text-white' %>
            <%= link_to 'View Orders', orders_path, class: 'navbar-item ' %>
            <%= button_to "Sign out", destroy_customer_session_path, method: :delete, class: 'navbar-item has-text-white' %>
          </div>
        </div>
      <% else %>
        <!-- If customer is not signed in, display sign in button -->
        <%= button_to "Sign in", new_customer_session_path, class: 'navbar-item mt-2  button is-primary' %>
      <% end %>
    </div>

    <div class="navbar-item has-text-centered">
      <%= form_tag(search_products_path, method: :get, class: 'field has-addons') do %>
        <div class="control">
          <div class="select is-dark">
            <%= select_tag(:type_id, options_for_select(Type.all.map { |p| [p.name, p.id] }), include_blank: 'All') %>
          </div>
        </div>
        <div class="control">
          <%= text_field_tag(:keyword, params[:keyword], id: 'keyword-input', placeholder: 'Search by Keyword', class: 'input') %>
        </div>
        <div class="control">
          <%= submit_tag('Search', class: 'button is-primary') %>
        </div>
      <% end %>
    </div>

    <div class="navbar-end mt-2">
      <%= link_to cart_path, class: 'button is-primary' do %>
        <span class="icon">
          <i class="fas fa-shopping-cart"></i>
        </span>
        <span>Cart (<%= session[:cart]&.values&.sum || 0 %>)</span>
      <% end %>
    </div>
  </div>
</nav>

<style>
@media screen and (max-width: 768px) {
  .navbar-menu.is-active .navbar-item:hover {
    background-color: grey;
  }
}
</style>


<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });

});

</script>