<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">MAKEUP HUB</a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarNav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu has-background-dark" id="navbarNav">
    <div class="navbar-start">
      <a class="navbar-item has-text-white" href="<%= root_path %>">Products</a>
      <%= link_to 'About Us', page_path(1), class: 'navbar-item has-text-white' %>
      <%= link_to 'Contact Us', page_path(2), class: 'navbar-item has-text-white' %>
    </div>

    <div class="navbar-item has-text-centered">
      <%= form_tag(search_products_path, method: :get, class: 'field has-addons') do %>
        <div class="control">
          <%= select_tag(:type_id, options_for_select(Type.all.map { |p| [p.name, p.id] }), include_blank: 'All', class: 'select is-dark') %>
        </div>
        <div class="control">
          <%= text_field_tag(:keyword, params[:keyword], id: 'keyword-input', placeholder: 'Search by Keyword', class: 'input') %>
        </div>
        <div class="control">
          <%= submit_tag('Search', class: 'button is-primary') %>
        </div>
      <% end %>
    </div>

    <div class="navbar-end">
      <%= link_to cart_path, class: 'button is-info' do %>
        <span class="icon">
          <i class="fas fa-shopping-cart"></i>
        </span>
        <span>Cart (<%= session[:cart]&.values&.sum || 0 %>)</span>
      <% end %>
    </div>
  </div>
</nav>
